@model IEnumerable<dept_assignment_movie_search.Models.Movie>
@{
    ViewData["Title"] = "Movie Page";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">Movie Search</h1>
        <br />
        <p>Search a movie from IMDB database and view detailed pages for each move</p>

        <form action="@Url.Action("Search","Movie")" class="d-flex" role="search" style="justify-content: center; align-items: center; ">

            <input class="form-control me-2" type="search" name="searchTerm" placeholder="Search" aria-label="Search" style="width: 350px;">
            <button class="btn btn-outline-success" type="submit">Search Anything</button>
        </form>

    </div>
</div>
<br/>



<div class="container text-center">
    <div class="row">

@if (Model != null)
    {
        @foreach(var movie in Model)
        {
            <div class="col-3" style="margin-top: 20px;">
                    <div class="card" style="width: 18rem; height:420px;">
                        <div class="card-header" style="background-color: black;">
                                <h6 style="color: white;">@movie.Title</h6>
                        </div>
                        <div class="card-body" style="height:400px; background-color: black;">
                            <form method="post" action="@Url.Action("MovieDetails", "Movie")">
                              
                                <input type="hidden" name="Id" value="@movie.Id" />
                                <input type="hidden" name="Title" value="@movie.Title" />
                                <input type="hidden" name="Image" value="@movie.Image" />
                                <input type="hidden" name="ReleaseDate" value="@movie.ReleaseDate" />
                                <input type="hidden" name="Country" value="@movie.Country" />

                                @if (movie?.Actors?.Count != 0)
                                {
                                    @for (int i = 0; i < movie?.Actors?.Count; i++)
                                    {
                                        <input type="hidden" name="Actors[@i].Id" value="@movie.Actors[i].Id" />
                                        <input type="hidden" name="Actors[@i].Name" value="@movie.Actors[i].Name" />
                                        <input type="hidden" name="Actors[@i].Image" value="@movie.Actors[i].Image" />
                                    }
                                }



                                <button type="submit"  style="background-color: black;">
                                    <img src="@movie.Image" style="height:300px; max-width:250px">
                                </button>
                            </form>
                        </div>
                    </div>

                    
            </div>

        }
    }
    </div>
</div>
 
 